@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 209 40% 96%;
    --foreground: 222 47% 11%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;

    background-image: linear-gradient(
      135deg,
      #0a3cff 0%,
      #1f9bff 50%,
      #0a3cff 100%
    );
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
}
